*.bak

/autom4te.cache
/aclocal.m4

.vs
.vscode

/data/*.mse-game
/data/*.mse-style
/data/*.mse-include
/data/*.mse-symbol-font
/data/*.mse-export-template
/data/dictionaries
/data/packages
/data/old

/build_*
/build
/out
/enc_temp_folder
/resource/RC*

/resource/expected_locale_keys
