build
bak
doc
db
.deps
.dirstamp
config.log
config.status
autom4te.cache
aclocal.m4
Makefile
core
magicseteditor
stamp-h1
config.h
doxygen
warnings.log
docwarnings.log
packages

/data
/*.dll

/old
/test-files

*.bak
*.o
*.i
*.ncb
*.pch
*.user

stamp-h1
warnings.log
*.suo
*.old
*.err
*.out
dummy-magic-set.mse-set

_dummy*
cards-out

