//+----------------------------------------------------------------------------+
//| Description:  Magic Set Editor - Program to make Magic (tm) cards          |
//| Copyright:    (C) 2001 - 2008 Twan van Laarhoven and "coppro"              |
//| License:      GNU General Public License 2 or later (see file COPYING)     |
//+----------------------------------------------------------------------------+

#include <windows.h> // include for version info constants

// -------------------------------------------------------- : Icons

icon/app				ICON	"icon/app.ico" // has to come first in alphabet!!
icon/installer			ICON	"icon/installer.ico"
icon/set				ICON	"icon/set.ico"
icon/symbol				ICON	"icon/symbol.ico"

// -------------------------------------------------------- : Toolbar

cursor/rot_text			CURSOR	"cursor/rot_text.cur"

tool/new				IMAGE	"tool/new.png"
tool/open				IMAGE	"tool/open.png"
tool/save				IMAGE	"tool/save.png"
tool/export				IMAGE	"tool/export.png"
tool/export_html		IMAGE	"tool/export_html.png"
tool/export_image		IMAGE	"tool/export_image.png"
tool/export_images		IMAGE	"tool/export_images.png"
tool/export_mws			IMAGE	"tool/export_mws.png"
tool/export_apprentice	IMAGE	"tool/export_apprentice.png"
tool/print				IMAGE	"tool/print.png"
tool/print_preview		IMAGE	"tool/print_preview.png"

tool/undo				IMAGE	"tool/undo.png"
tool/redo				IMAGE	"tool/redo.png"
tool/cut				IMAGE	"tool/cut.png"
tool/copy				IMAGE	"tool/copy.png"
tool/paste				IMAGE	"tool/paste.png"
tool/find				IMAGE	"tool/find.png"

tool/bold				IMAGE	"tool/bold.png"
tool/italic				IMAGE	"tool/italic.png"
tool/symbol				IMAGE	"tool/symbol.png"
tool/reminder			IMAGE	"tool/reminder.png"
tool/no_auto			IMAGE	"tool/no_auto.png"

tool/card_add			IMAGE	"tool/card_add.png"
tool/card_add_multiple	IMAGE	"tool/card_add_multiple.png"
tool/card_del			IMAGE	"tool/card_del.png"
tool/card_rotate		IMAGE	"tool/card_rotate.png"
tool/card_rotate_0		IMAGE	"tool/card_rotate_0.png"
tool/card_rotate_90		IMAGE	"tool/card_rotate_90.png"
tool/card_rotate_180	IMAGE	"tool/card_rotate_180.png"
tool/card_rotate_270	IMAGE	"tool/card_rotate_270.png"

tool/keyword_add		IMAGE	"tool/keyword_add.png"
tool/keyword_del		IMAGE	"tool/keyword_del.png"

tool/graph_pie			IMAGE	"tool/graph_pie.png"
tool/graph_bar			IMAGE	"tool/graph_bar.png"
tool/graph_stack		IMAGE	"tool/graph_stack.png"
tool/graph_scatter		IMAGE	"tool/graph_scatter.png"
tool/graph_scatter_pie	IMAGE	"tool/graph_scatter_pie.png"

tool/window_cards		IMAGE	"tool/window_cards.png"
tool/window_set_info	IMAGE	"tool/window_set_info.png"
tool/window_style		IMAGE	"tool/window_style.png"
tool/window_keywords	IMAGE	"tool/window_keywords.png"
tool/window_statistics	IMAGE	"tool/window_statistics.png"
tool/window_random_pack	IMAGE	"tool/window_random_pack.png"
tool/window_console		IMAGE	"tool/window_console.png"

tool/help				IMAGE	"tool/help.png"

// -------------------------------------------------------- : Symbol editor

cursor/point			CURSOR	"cursor/point.cur"
cursor/point_add		CURSOR	"cursor/point_add.cur"
cursor/point_move		CURSOR	"cursor/point_move.cur"
cursor/curve			CURSOR	"cursor/curve.cur"
cursor/rotate			CURSOR	"cursor/rotate.cur"
cursor/shear_x			CURSOR	"cursor/shear_x.cur"
cursor/shear_y			CURSOR	"cursor/shear_y.cur"

tool/line				IMAGE	"tool/line.png"
tool/curve				IMAGE	"tool/curve.png"
tool/lock_free			IMAGE	"tool/lock_free.png"
tool/lock_dir			IMAGE	"tool/lock_dir.png"
tool/lock_size			IMAGE	"tool/lock_size.png"

tool/circle				IMAGE	"tool/circle.png"
tool/rectangle			IMAGE	"tool/rectangle.png"
tool/triangle			IMAGE	"tool/triangle.png"
tool/star				IMAGE	"tool/star.png"

tool/mode_select		IMAGE	"tool/mode_select.png"
tool/mode_rotate		IMAGE	"tool/mode_rotate.png"
tool/mode_curve			IMAGE	"tool/mode_curve.png"
tool/mode_paint			IMAGE	"tool/mode_paint.png"
tool/mode_symmetry		IMAGE	"tool/mode_symmetry.png"
tool/apply				IMAGE	"tool/apply.png"
tool/duplicate			IMAGE	"tool/duplicate.png"
tool/grid				IMAGE	"tool/grid.png"
tool/grid_snap			IMAGE	"tool/grid_snap.png"
tool/group				IMAGE	"tool/group.png"
tool/ungroup			IMAGE	"tool/ungroup.png"

tool/symmetry_add		IMAGE	"tool/symmetry_add.png"
tool/symmetry_remove	IMAGE	"tool/symmetry_remove.png"

combine_or				IMAGE	"../common/combine_or.png"
combine_sub				IMAGE	"../common/combine_sub.png"
combine_sub_dark		IMAGE	"../common/combine_sub_dark.png"
combine_and				IMAGE	"../common/combine_and.png"
combine_and_dark		IMAGE	"../common/combine_and_dark.png"
combine_xor				IMAGE	"../common/combine_xor.png"
combine_over			IMAGE	"../common/combine_over.png"
combine_border			IMAGE	"../common/combine_border.png"
symmetry_rotation		IMAGE	"../common/symmetry_rotation.png"
symmetry_reflection		IMAGE	"../common/symmetry_reflection.png"
symbol_group			IMAGE	"../common/symbol_group.png"

icon_combine_merge			IMAGE	"../common/icon_combine_merge.png"
icon_combine_subtract		IMAGE	"../common/icon_combine_subtract.png"
icon_combine_intersection	IMAGE	"../common/icon_combine_intersection.png"
icon_combine_difference		IMAGE	"../common/icon_combine_difference.png"
icon_combine_overlap		IMAGE	"../common/icon_combine_overlap.png"
icon_combine_border			IMAGE	"../common/icon_combine_border.png"
icon_symmetry_rotation		IMAGE	"../common/icon_symmetry_rotation.png"
icon_symmetry_reflection	IMAGE	"../common/icon_symmetry_reflection.png"
icon_symbol_group			IMAGE	"../common/icon_symbol_group.png"

handle_rotate			IMAGE	"../common/handle_rotate.png"
handle_shear_x			IMAGE	"../common/handle_shear_x.png"
handle_center			IMAGE	"../common/handle_center.png"

// -------------------------------------------------------- : Other

sort_asc				IMAGE	"other/sort_asc.png"
sort_desc				IMAGE	"other/sort_desc.png"
plus					IMAGE	"other/plus.png"
minus					IMAGE	"other/minus.png"
selected				IMAGE	"other/selected_yes.png"
deselected				IMAGE	"other/selected_no.png"

bool_yes				IMAGE	"../common/bool_yes.png"
bool_no					IMAGE	"../common/bool_no.png"

//help_book				BITMAP	"help_book.png"
//help_book_open			BITMAP	"help_book_open.png"
//help_page				BITMAP	"help_page.png"

about					IMAGE	"../common/about.png"
two_beta				IMAGE	"../common/two_beta.png"
btn_normal				IMAGE	"../common/btn_normal.png"
btn_hover				IMAGE	"../common/btn_hover.png"
btn_focus				IMAGE	"../common/btn_focus.png"
btn_down				IMAGE	"../common/btn_down.png"
btn_ok_normal			IMAGE	"../common/btn_ok_normal.png"
btn_ok_hover			IMAGE	"../common/btn_ok_hover.png"
btn_ok_focus			IMAGE	"../common/btn_ok_focus.png"
btn_ok_down				IMAGE	"../common/btn_ok_down.png"
btn_collapse_normal		IMAGE	"../common/btn_collapse_normal.png"
btn_collapse_hover		IMAGE	"../common/btn_collapse_hover.png"
btn_collapse_focus		IMAGE	"../common/btn_collapse_focus.png"
btn_collapse_down		IMAGE	"../common/btn_collapse_down.png"
btn_expand_normal		IMAGE	"../common/btn_expand_normal.png"
btn_expand_hover		IMAGE	"../common/btn_expand_hover.png"
btn_expand_focus		IMAGE	"../common/btn_expand_focus.png"
btn_expand_down			IMAGE	"../common/btn_expand_down.png"
btn_clear_filter_normal	IMAGE	"../common/btn_clear_filter_normal.png"
btn_clear_filter_hover	IMAGE	"../common/btn_clear_filter_hover.png"
btn_clear_filter_focus	IMAGE	"../common/btn_clear_filter_focus.png"
btn_clear_filter_down	IMAGE	"../common/btn_clear_filter_down.png"

//about_xmas			IMAGE	"about-xmas.png"
//two_xmas				IMAGE	"two_beta-xmas.png"

welcome_new				IMAGE	"../common/welcome_new.png"
welcome_open			IMAGE	"../common/welcome_open.png"
welcome_last			IMAGE	"../common/welcome_last.png"
welcome_updates			IMAGE	"../common/welcome_updates.png"

edit_symbol				IMAGE	"../common/edit_symbol.png"

installer_group			IMAGE	"../common/installer_group.png"
installer_package		IMAGE	"../common/installer_package.png"
installer_locales		IMAGE	"../common/installer_locales.png"
installer_program		IMAGE	"../common/installer_program.png"
//installer_font		IMAGE	"../common/installer_font.png"

message_input			IMAGE	"../common/message_input.png"
message_information		IMAGE	"../common/message_information.png"
message_warning			IMAGE	"../common/message_warning.png"
message_error			IMAGE	"../common/message_error.png"

// -------------------------------------------------------- : WX

wxBITMAP_STD_COLOURS	BITMAP "wx/msw/colours.bmp"
WXCURSOR_HAND           CURSOR  DISCARDABLE     "wx/msw/hand.cur"

// -------------------------------------------------------- : Other

expected_locale_keys	TEXT	"../common/expected_locale_keys"

// -------------------------------------------------------- : Version info

1 VERSIONINFO
FILEVERSION    2,0,0,0
PRODUCTVERSION 2,0,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "FileVersion",			"2.0.0"
      VALUE "License",				"GNU General Public License 2 or later; This is free software, and you are welcome to redistribute it under certain conditions; See the help file for details"
      VALUE "FileDescription",		"Magic Set Editor"
      VALUE "InternalName",			"magicseteditor"
      VALUE "LegalCopyright",		"\xA9 2001-2011 Twan van Laarhoven and 'coppro'"
      VALUE "ProductName",			"Magic Set Editor"
    }
  }
}

#if !defined(_MSC_VER) || _MSC_VER < 1400
#if !defined(wxUSE_NO_MANIFEST) || (wxUSE_NO_MANIFEST == 0)
//1 24 "wx/msw/wx.manifest"
#endif
#endif
