//+----------------------------------------------------------------------------+
//| Description:  Magic Set Editor - Program to make Magic (tm) cards          |
//| Copyright:    (C) 2001 - 2017 Twan van Laarhoven and "coppro"              |
//| License:      GNU General Public License 2 or later (see file COPYING)     |
//+----------------------------------------------------------------------------+

#include <windows.h> // include for version info constants

// -------------------------------------------------------- : Icons

icon/app            ICON  "icon/app.ico" // has to come first in alphabet!!
icon/installer      ICON  "icon/installer.ico"
icon/set            ICON  "icon/set.ico"
icon/symbol         ICON  "icon/symbol.ico"

// -------------------------------------------------------- : Version info

1 VERSIONINFO
FILEVERSION    2,0,0,0
PRODUCTVERSION 2,0,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "FileVersion",      "2.0.0"
      VALUE "License",        "GNU General Public License 2 or later; This is free software, and you are welcome to redistribute it under certain conditions; See the help file for details"
      VALUE "FileDescription",    "Magic Set Editor"
      VALUE "InternalName",      "magicseteditor"
      VALUE "LegalCopyright",    "\xA9 2001-2011 Twan van Laarhoven and 'coppro'"
      VALUE "ProductName",      "Magic Set Editor"
    }
  }
}

